@model ReservationCalendar.Models.ReservationBookAbs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div ng-app="calApp" ng-controller="CalendarCtrl"> 
    <h4>ReservationBook</h4>
    <hr />
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <reservation-calendar></reservation-calendar>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reservationBook.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservationBook.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reservationBook.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservationBook.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reservationBook.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservationBook.EndTime)
        </dd>
    </dl>
    @foreach (var item in Model.calendarLayers)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelItem => item.calendarDbType)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.calendarDbType)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.description)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.description)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.weight)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.weight)
            </dd>
        </dl>
        <table class="table">
            <tr>
                <th>dbId</th>
                <th>fullDay</th>
                <th>startTime</th>
                <th>endTime</th>
                <th>timeSlotStatus</th>
                <th>description</th>
            </tr>

            @foreach (var slot in item.timeSlots)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => slot.dbId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => slot.fullDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => slot.startTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => slot.endTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => slot.timeSlotStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => slot.description)
                    </td>
                </tr>
             }
        </table>
    }
    <h4>Combined Calendar</h4>
    <table class="table">
        <tr>
            <th>dbType</th>
            <th>dbId</th>
            <th>fullDay</th>
            <th>startTime</th>
            <th>endTime</th>
            <th>timeSlotStatus</th>
            <th>description</th>
        </tr>

        @foreach (var slot in Model.combinedCalendar.timeSlots)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => slot.dbType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => slot.dbId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => slot.fullDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => slot.startTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => slot.endTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => slot.timeSlotStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => slot.description)
                </td>
            </tr>
        }
    </table>
    <h4>Conflicting Time Slots</h4>
    <table class="table">
        <tr>
            <th>Slot#1 dbType</th>
            <th>Slot#1 dbId</th>
            <th>Slot#2 dbType</th>
            <th>Slot#2 dbId</th>
            <th>Conflict Type</th>
            
        </tr>
        @foreach (var item in Model.combinedCalendar.timeSlotConflicts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.aSlot.dbType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aSlot.dbId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bSlot.dbType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bSlot.dbId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeSlotOverlap)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
